{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <body>

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form feed_form %}

        {{ formset.management_form }}
        <div class="d-flex">
          {% for form in formset %}
            <div class="review_img me-3">
              {{ form }}
                <img src="https://cdn-icons-png.flaticon.com/512/3524/3524388.png" alt="사진 첨부">
              </div>
            {% endfor %}
          </div>
          <div class="review_buttons m-2">
            <button type="submit" class="comfirm" value="작성">작성</button>
          </div>
        </form>

      </body>

    </html>
