{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}

    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FSeoul&title=%EC%97%AC%ED%96%89&src=ZGJzc3RhcmNyYWZ0QGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=a28uc291dGhfa29yZWEjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%237986CB&color=%2333B679&color=%230B8043"
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>


{% endblock %}