@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
table,
th,
td,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
blockquote,
span,
* {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.community-header {
    height: 300px;
    background-image: url('/static/communities/img/header-review.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-position: center;
    filter: brightness(0.5);
}

@media (min-width: 1024px) {
    .community-header {
        height: 100vh;
        background-image: url('/static/communities/img/header-review.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
        background-position: center;
        filter: brightness(0.5);
    }
}


.review-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 732px;
    padding-top: 20px;
}

.notion-card {
    max-width: 732px;
    margin: 13px 0px;
    background-color: white;
    border-radius: 13px;
    min-height: 200px;
}

@media (min-width: 1024px) {
    .notion-card {
        max-width: 732px;
    }
}

/* .text {
    padding: 20px;
} */

.best-review {
    display: flex;
}

.rank {
    display: flex;
    align-items: center;
    margin: 5px 0px;
    letter-spacing: 0.5px;
    font-size: 13px;
}

.rank_num {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    text-align: center;
    background-color: #428ce8;
    color: white;
    font-size: 8px;
    margin: 0px 5px;
}

/* 글쓰기 버튼 */
.create-wrapper {
    /* display: none; */
    justify-content: start;
    width: auto;
}

@media (min-width: 1024px) {
    .create-wrapper {
        width: auto;
        display: block;
    }

    .create-wrapper-m {
        display: none;
    }
}

.create {
    line-height: 34px;
    border-radius: 7px;
    color: white;
    padding: 4px;
    overflow: hidden;
    background-color: #0061FF;
}

.plane {
    color: blue;
    margin-bottom: 4px;
    margin-left: 3px;
    width: 25px;
    transition: all 0.3s linear;
}

.create:hover .plane {
    transform: translate(30px, -50%)
}

/* 전체 게시글 */
.review-row {
    border-bottom: 1px solid rgb(235, 237, 244);
    height: 96px;
    background-color: white;
    padding: 7px 12px;
}

.reviews-row {
    border-bottom: 1px solid rgb(235, 237, 244);
    height: 26px;
    background-color: white;
    padding: 7px 12px;
}

.icons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.icon .material-icons.md-18 {
    margin: 0px 2px;
    font-size: 15px;
}

.review-title {
    font-size: 16px;
}

.review-date {
    font-size: 12px;
    color: #000000a6;
    letter-spacing: 0.5px;
}

.review-list>img {
    border-radius: 10px;
    width: 45px;
}

.review-row>.row,
.row-cols-2,
.row>.col,
.review-list>div,
.review-list>div>img {
    height: 100%;
}

.row>.review-list>div {
    display: flex;
    justify-content: end;
}

.review-list>div>.review-img {
    object-fit: cover;
    border-radius: 5px;
}

.review-list>div {
    padding: 0px 10px;
}

/* 리뷰 디테일 */
.container {
    display: flex;
    flex-flow: nowrap;
}

.detail-section {
    width: 540px;
    margin: auto;
    background-color: white;
    padding: 35px;
    padding-bottom: 200px;
    min-height: 100vh;
    border: solid 1px #e0e0e0;
    box-shadow: 12px 0px 29px -15px rgb(0 0 0 / 30%);
}

@media(min-width: 1024px) {
    .detail-section {
        width: 1024px;
    }

}

.eye {
    display: none;
}

@media (min-width: 1024px) {
    .eye {
        display: block;
    }
}

.detail-title {
    font-size: 36px;
    font-weight: bold;
}

.detail-img-div {
    display: none;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media (min-width: 1024px) {
    .detail-meta-section {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
    }
}

.detail-user {
    width: 32%;
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}

@media (min-width: 1024px) {
    .detail-user {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .detail-img-div {
        display: block;
    }
}

.detail-date {
    display: flex;
    align-items: center;
}

.detail-content {
    padding: 0px 10px;
    min-height: 470px;
    padding-bottom: 200px;
}

.detail-content p img {
    max-width: 100% !important;
}

/* 사이드바 */
.side-bar {
    display: none;
}

@media (min-width: 1024px) {
    .side-bar {
        display: block;
        position: sticky;
        top: 0px;
        width: 50px;
        height: 400px;
        padding-top: 200px;
    }
}

.remote {
    padding: 10px;
    border-radius: 16px;
    box-shadow: 4px 4px 7px 0px #00000024;
    text-align: center;
    background: linear-gradient(89deg, #ffffff 0%, #f4f4f452 100%, #f4f4f4 51%, #f4f4f4 100%);
}

.remote span {
    color: #3c7ed2;
}

.remote span:hover {
    opacity: 0.5;
}

/* 댓글 */
.comment-section {
    min-height: 200px;
    margin-top: 400px;
    color: black;
    text-decoration: none;
}

.comment-section:hover {
    color: inherit;
}

.comment-section span {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.comment-list {
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .05);
}

.comment-list :first-child {
    border-top: 0;
}

.comment-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    min-height: 160px;
}

.comment-row {
    min-height: 120px;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.comment-row:hover > .comment-wrapper .buttons {
    display: flex;
    width: 12%;
    justify-content: space-between;

}


.comment-profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;

}

.comment-main {
    width: 100%;
    padding: 0px 14px;
}

.comment-main > p {
    min-height: 55px;
}

.comment-user-date {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 1rem;
}

.comment-user-date > p { 
    margin-bottom: 0;
}

.comment-date {
    font-size: 14px;
}

#comment-none {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 200px;
    opacity: 0.4;
    font-weight: 300;
}

#review_delete:hover {
    cursor: pointer;
}

/* 수정, 삭제 버튼 */
.comment-row .buttons {
    display: none;
    position: absolute;
    top: 0;
    right: 0px;
    padding-right: 8px;
}

.buttons > button {
    border: 0px;
    color: #3c7ed2;
    background-color: transparent;
}

.buttons > button:hover {
    text-decoration: underline;
    color: #3c7ed2;
    background-color: transparent;
}

.update-form {
    display: none;
}

.update-form > textarea {
    font-size: 14px;
    resize: none;
    height: 130px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: #cccccc5c;
    margin-bottom: 30px;
}

.update-form > textarea:focus {
    outline: none;
}
/* 댓글 수정, 작성취소 버튼 */

.update-form button {
    padding: 0px 2rem;
    border : 0;
    line-height: 30px;
    border-radius: 3px;    
}

.update-form button:not(.update-comment) {
    color: #3c7ed2;
    background-color: transparent;
}

.update-form button:hover:not(.update-comment:hover) {
    color: #3c7ed2;
    background-color: #cccccc52;
}

.buttons-update {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 25px;
}

.update-comment {
    background-color: #3c7ed2;
    margin-left: 0.5rem;
    color: white;
}

.update-comment:hover {
    opacity: 0.8;
}

/* 답글 */
/* 답글 버튼 */
.subcomment-btn {
    position: absolute;
    padding: 0px 2rem;
    border : 0;
    line-height: 30px;
    border-radius: 3px; 
    bottom: 0;
}

/* 답글 목록 */
.sub-comment-list {
    display: none;
    margin: auto;
    margin-top: 16px;
    padding: 16px;
    background-color: #cccccc21;
}

.sub-comment-list .comment-main > p {
    min-height: 36px;
}

.sub-comment-list .comment-wrapper {
    min-height: 0;
}