@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
table,
th,
td,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
blockquote,
span,
* {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -1px;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
}

ul li {
  list-style: none;
  margin: 0 0 0 1rem;
}

header {
  height: 44px;
  background-color: white;
  transition: 0.4s;
}

header section h1 {
  background: url('../img/logo2.png');
  background-size: 96px auto;
  width: 96px;
  height: 23px;
  margin: 0;
}

header section h1 a {
  display: block;
  text-indent: -9999px;
}

header section .btn-menu {
  background: url('../img/menu.png') 50% 50% no-repeat;
  background-size: 24px auto;
  text-indent: -9999px;
  border: none;
  width: 40px;
  height: 40px;
}

@media (min-width: 1024px) {
  .btn-menu {
    display: none;
  }
}

header ul {
  display: none;
}

header ul li {
  color: #feffff;
  opacity: 0.8;
}

header ul li:hover {
  color: #feffff;
  opacity: 1;
}

@media (min-width: 1024px) {
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    transition: 0.4s;
    background-color: #0061FF;
  }
}

@media (min-width: 1024px) {
  header.scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    transition: 0.4s;
    background-color: #FFF;
    box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1)
  }

  header.scroll ul li {
    color: rgba(0, 0, 0, 0.9)
  }

  header.scroll section h1 {
    background: url('../img/logo2.png');
    background-size: 96px auto;
    width: 96px;
    height: 23px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  header section h1 {
    background: url('../img/logo1.png');
    background-size: 96px auto;
    width: 96px;
    height: 23px;
    margin: 0;
  }

  .large-menu {
    display: flex;
  }

  .small-menu {
    display: none;
  }
}

.list-group {
  display: none;
  text-align: center;
}

.list-group.show {
  display: block;
}

@media (min-width: 1024px) {
  .list-group.show {
    display: none;
  }
}

.list-group-item {
  margin: 0;
  padding: .825rem;
  font-size: .825rem;
}

/* 국가 디테일 */
.rollingbanner {
  position: relative;
  max-width: 732px;
  height: 52px;
  font-size: .925rem;
  letter-spacing: -1px;
  padding: 16px 15px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

/* 타이틀 */
.rollingbanner>.title {
  font-weight: bold;
  float: left;
  padding-right: 10px;
}

/* 롤링 배너 */
.rollingbanner>.wrap {
  position: relative;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.rolling ul {
  list-style: none;
}

.rollingbanner li {
  position: absolute;
  top: -36px;
  left: 0;
}

/* 이전, 현재, 다음 롤링 배너 표시 */
.rollingbanner li.prev {
  top: 55px;
  transition: top 0.5s ease;
}

.rollingbanner li.current {
  top: 0;
  transition: top 0.5s ease;
}

.rollingbanner li.next {
  top: -36px;
}

.rollingbanner a {
  display: block;
  display: -webkit-box;
  text-decoration: none;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
}

div.scrollMenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollMenu article {
  background-color: white;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  padding: 32px 24px;
  border-radius: 18px;
  margin-right: 10px;
  overflow: hidden;
}

div.scrollMenu article img {
  transition-duration: 1.5s;
}

div.scrollMenu article:hover img {
  transform: scale(1.1);
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}

div.scrollMenu article:hover {
  background-color: rgba(229, 242, 208, 0.797);
}

.gif-icon {
  margin: 0;
}

article p {
  margin: 0;
}

article h2 {
  font-weight: 700;
  font-size: 24px !important;
}

article ul {
  padding: 0;
}

article li {
  margin: 0;
  padding: 10px 30px;
}