@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
table,
th,
td,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
blockquote,
span,
* {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -1px;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
}

ul li {
  list-style: none;
  margin: 0 0 0 1rem;
}

header {
  height: 44px;
  background-color: white;
  transition: 0.4s;
}

header section h1 {
  background: url('../img/logo2.png');
  background-size: 96px auto;
  width: 96px;
  height: 23px;
  margin: 0;
}

header section h1 a {
  display: block;
  text-indent: -9999px;
}

header section .btn-menu {
  background: url('../img/menu.svg') 50% 50% no-repeat;
  background-size: 24px auto;
  text-indent: -9999px;
  border: none;
  width: 40px;
  height: 40px;
}

@media (min-width: 1024px) {
  .btn-menu {
    display: none;
  }
}

header ul {
  display: none;
}

header ul li {
  color: #feffff;
  opacity: 0.8;
}

header ul li:hover {
  color: #feffff;
  opacity: 1;
}

.gif-icon {
  width: 48px;
  height: 24px;
  color: #0061FF;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  background-image: url('../img/ico_now_moving.gif');
  background-size: 31px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    transition: 0.4s;
    background-color: #0061FF;
  }
}

@media (min-width: 1024px) {
  header.scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    transition: 0.4s;
    background-color: #FFF;
    box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1)
  }

  header.scroll ul li {
    color: rgba(0, 0, 0, 0.9)
  }

  header.scroll section h1 {
    background: url('../img/logo2.png');
    background-size: 96px auto;
    width: 96px;
    height: 23px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  header section h1 {
    background: url('../img/logo1.png');
    background-size: 96px auto;
    width: 96px;
    height: 23px;
    margin: 0;
  }

  .large-menu {
    display: flex;
  }

  .small-menu {
    display: none;
  }
}

.list-group {
  display: none;
  text-align: center;
}

.list-group.show {
  display: block;
}

@media (min-width: 1024px) {
  .list-group.show {
    display: none;
  }
}

.list-group-item {
  margin: 0;
  padding: .825rem;
  font-size: .825rem;
}

/* 국가 디테일 */
.rollingbanner {
  position: relative;
  max-width: 732px;
  height: 52px;
  font-size: .925rem;
  letter-spacing: -1px;
  padding: 16px 15px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

/* 타이틀 */
.rollingbanner>.title {
  font-weight: bold;
  float: left;
  padding-right: 10px;
}

/* 롤링 배너 */
.rollingbanner>.wrap {
  position: relative;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.rolling ul {
  list-style: none;
}

.rollingbanner li {
  position: absolute;
  top: -36px;
  left: 0;
}

/* 이전, 현재, 다음 롤링 배너 표시 */
.rollingbanner li.prev {
  top: 55px;
  transition: top 0.5s ease;
}

.rollingbanner li.current {
  top: 0;
  transition: top 0.5s ease;
}

.rollingbanner li.next {
  top: -36px;
}

.rollingbanner a {
  display: block;
  display: -webkit-box;
  text-decoration: none;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
}

div.scrollMenu {
  overflow: auto;
  /* white-space: nowrap; */
}

div.scrollMenu article {
  background-color: white;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  padding: 32px 24px;
  border-radius: 18px;
  margin-right: 10px;
  overflow: hidden;
}

.article-card {
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.article-card:hover {
  transform: translateY(-8px);
  box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

div.scrollMenu2 article {
  background-color: white;
  display: inline-block;
  color: #212529;
  text-align: center;
  text-decoration: none;
  padding: 32px 24px;
  border-radius: 4px;
  margin-right: 10px;
  overflow: hidden;
}

div.scrollMenu article img {
  transition-duration: 1.5s;
}

div.scrollMenu article:hover img {
  transform: scale(1.1);
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}

/* div.scrollMenu article:hover {
  background-color: rgba(229, 242, 208, 0.797);
} */

.gif-icon {
  margin: 0;
}

article p {
  margin: 0;
}

article h2 {
  font-weight: 700;
  font-size: 24px !important;
}

article ul {
  padding: 0;
}

article li {
  margin: 0;
  padding: 10px 30px;
}

.descriptions {
  margin: 0px 0px 1.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 3.9375rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #495057;
}

.ttt {
  padding: 1rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

.eYZFXY {
  width: 20rem;
  background: var(--bg-element1);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  margin: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.eYZFXY:hover {
  transform: translateY(-8px);
  box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.eYZFXY:hover a {
  color: #495057;
}

.dYjA-dM {
  display: block;
  color: inherit;
  text-decoration: none;
}

.jhNfXV {
  padding: 1rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.dFFRzI {
  width: 100%;
  position: relative;
}

.dFFRzI img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.dYjA-dM {
  display: block;
  color: inherit;
  text-decoration: none;
}

.jhNfXV h4 {
  font-size: 1rem;
  margin: 0px 0px 0.25rem;
  line-height: 1.5;
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212529;
}

.jhNfXV p {
  margin: 0px 0px 1.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 3.9375rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text2);
}

.jhNfXV .sub-info {
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--text3);
}

.UXOKy {
  padding: 0.625rem 1rem;
  border-top: 1px solid #f1f3f5;
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.UXOKy .userinfo {
  text-decoration: none;
  color: inherit;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.UXOKy .userinfo img {
  object-fit: cover;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin-right: 0.5rem;
}

.UXOKy .likes {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.UXOKy .likes svg {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

.scrolling {
  overflow: auto;
}

div.scrollMenu {
  background-color: rgb(161, 247, 11);
  overflow: auto;
  /* white-space: nowrap; */
}

div.scrollMenu a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  padding: 14px;
}

div.scrollMenu a:hover {
  background-color: rgba(229, 242, 208, 0.797);
}